## Generating Sample Data

The goal is to generate sample data of ~ 5,000,000 rows from the downloaded csv file to use for the analysis.

In [1]:
from pyspark.sql import SparkSession

In [2]:
# Create SparkSession
spark = SparkSession.builder.appName("CSV_Sample").getOrCreate()

In [3]:
#Reading the dataset
raw_data = spark.read.csv("..\Data\2017_Yellow_Taxi_Trip_Data.csv",header = True,inferSchema=True)

In [4]:
raw_data.show()

+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|DOLocationID|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+
|       2|07/27/2017 06:38:...| 07/27/2017 06:49:...|              1|         1.56|         1|                 N|         170|          79|           1|        9.0|  1.0|    0.5|      2.16|         0.0|                  0.3|       12.96|
|       2|07/27/2017 06:51:...| 07/27/2017 07:00:...|              1|         0.77|         1|                 N|          79|         144|           1|        7.5|  1.0|    0.5|      1.86|         0.0|                  0.3|       11.16|
|       1|07/27/2017 06:02:...| 07/27/2017 06:18:...|              1|          1.2|         1|                 N|          90|         170|           1|       11.0|  1.0|    0.5|       0.1|         0.0|                  0.3|        12.9|
|       1|07/27/2017 06:19:...| 07/27/2017 06:32:...|              1|          1.9|         1|                 N|         170|          68|           1|       10.0|  1.0|    0.5|       0.1|         0.0|                  0.3|        11.9|
|       1|07/27/2017 06:42:...| 07/27/2017 06:58:...|              1|          1.5|         1|                 N|         234|          68|           1|       11.0|  1.0|    0.5|       2.0|         0.0|                  0.3|        14.8|
|       2|07/27/2017 06:49:...| 07/27/2017 07:17:...|              5|         2.86|         1|                 N|         114|         229|           1|       17.5|  1.0|    0.5|      3.86|         0.0|                  0.3|       23.16|
|       2|07/27/2017 06:00:...| 07/27/2017 06:11:...|              5|         1.71|         1|                 N|         162|         236|           1|        9.5|  1.0|    0.5|      2.26|         0.0|                  0.3|       13.56|
|       2|07/27/2017 06:14:...| 07/27/2017 06:24:...|              5|         1.76|         1|                 N|         263|         229|           1|        8.5|  1.0|    0.5|      2.58|         0.0|                  0.3|       12.88|
|       2|07/27/2017 06:31:...| 07/27/2017 06:40:...|              5|         1.77|         1|                 N|         229|         236|           2|        8.0|  1.0|    0.5|       0.0|         0.0|                  0.3|         9.8|
|       1|07/27/2017 06:04:...| 07/27/2017 06:20:...|              1|          2.0|         1|                 N|         263|         239|           2|       11.5|  1.0|    0.5|       0.0|         0.0|                  0.3|        13.3|
|       1|07/27/2017 06:23:...| 07/27/2017 06:28:...|              2|          0.4|         1|                 N|         239|         143|           1|        5.0|  1.0|    0.5|      1.35|         0.0|                  0.3|        8.15|
|       1|07/27/2017 06:33:...| 07/27/2017 07:05:...|              2|          6.1|         1|                 N|         238|         234|           1|       23.0|  1.0|    0.5|       6.2|         0.0|                  0.3|        31.0|
|       1|07/27/2017 06:42:...| 07/27/2017 06:46:...|              2|          0.4|         1|                 N|         211|         114|           1|        4.5|  1.0|    0.5|       1.0|         0.0|                  0.3|         7.3|
|       2|07/27/2017 06:05:...| 07/27/2017 06:14:...|              5|         2.42|         1|                 N|         237|          24|           1|       10.0|  1.0|    0.5|       2.0|         0.0|                  0.3|        13.8|
|       2|07/27/2017 06:20:...| 07/27/2017 06:34:...|              5|         2.11|         1|                 N|         238|         230|           1|       11.0|  1.0|    0.5|       2.0|         0.0|                  0.3|        14.8|
|       2|07/27/2017 06:37:...| 07/27/2017 07:12:...|              5|         2.69|         1|                 N|         161|         113|           1|       18.0|  1.0|    0.5|      3.96|         0.0|                  0.3|       23.76|
|       2|07/27/2017 06:09:...| 07/27/2017 06:23:...|              1|         1.93|         1|                 N|         236|         239|           1|       10.5|  1.0|    0.5|       1.0|         0.0|                  0.3|        13.3|
|       2|07/27/2017 06:25:...| 07/27/2017 06:28:...|              1|         0.51|         1|                 N|         239|         238|           1|        4.0|  1.0|    0.5|      1.16|         0.0|                  0.3|        6.96|
|       2|07/27/2017 06:38:...| 07/27/2017 06:43:...|              1|         0.91|         1|                 N|         238|          43|           1|        5.5|  1.0|    0.5|      1.46|         0.0|                  0.3|        8.76|
|       2|07/27/2017 06:49:...| 07/27/2017 06:53:...|              1|         0.89|         1|                 N|         236|         263|           1|        5.0|  1.0|    0.5|      1.36|         0.0|                  0.3|        8.16|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+
only showing top 20 rows

In [5]:
#checking the schema
raw_data.printSchema()

root
 |-- VendorID: integer (nullable = true)
 |-- tpep_pickup_datetime: string (nullable = true)
 |-- tpep_dropoff_datetime: string (nullable = true)
 |-- passenger_count: integer (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- RatecodeID: integer (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- PULocationID: integer (nullable = true)
 |-- DOLocationID: integer (nullable = true)
 |-- payment_type: integer (nullable = true)
 |-- fare_amount: double (nullable = true)
 |-- extra: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- tip_amount: double (nullable = true)
 |-- tolls_amount: double (nullable = true)
 |-- improvement_surcharge: double (nullable = true)
 |-- total_amount: double (nullable = true)

In [22]:
# Sample 5 million rows explicitly (optional)
df_sample = raw_data.sample(withReplacement=False, fraction=0.03)

In [23]:
df_sample.show()

+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|DOLocationID|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+
|       1|07/27/2017 06:42:...| 07/27/2017 06:46:...|              2|          0.4|         1|                 N|         211|         114|           1|        4.5|  1.0|    0.5|       1.0|         0.0|                  0.3|         7.3|
|       2|07/27/2017 06:55:...| 07/27/2017 07:18:...|              1|         2.99|         1|                 N|         164|         141|           1|       16.0|  1.0|    0.5|      1.78|         0.0|                  0.3|       19.58|
|       2|07/27/2017 06:21:...| 07/27/2017 06:49:...|              1|         8.81|         1|                 N|         138|          42|           1|       29.5|  1.0|    0.5|      7.41|        5.76|                  0.3|       44.47|
|       2|07/27/2017 06:16:...| 07/27/2017 06:18:...|              1|         0.32|         1|                 N|         186|          90|           1|        3.5|  1.0|    0.5|      1.59|         0.0|                  0.3|        6.89|
|       2|07/27/2017 06:15:...| 07/27/2017 06:33:...|              1|         1.12|         1|                 N|         161|          48|           1|       11.5|  1.0|    0.5|       1.7|         0.0|                  0.3|        15.0|
|       1|07/27/2017 06:25:...| 07/27/2017 07:05:...|              1|          9.8|         1|                 N|         138|         239|           1|       35.0|  1.0|    0.5|       8.5|        5.76|                  0.3|       51.06|
|       2|07/27/2017 06:13:...| 07/27/2017 06:36:...|              6|         2.44|         1|                 N|         163|         224|           1|       15.5|  1.0|    0.5|       2.0|         0.0|                  0.3|        19.3|
|       1|07/27/2017 06:33:...| 07/27/2017 06:47:...|              1|          3.5|         1|                 N|         237|         202|           1|       13.0|  1.0|    0.5|      2.95|         0.0|                  0.3|       17.75|
|       2|07/27/2017 06:29:...| 07/27/2017 07:09:...|              1|         5.63|         1|                 N|         164|         166|           2|       26.5|  1.0|    0.5|       0.0|         0.0|                  0.3|        28.3|
|       2|07/27/2017 06:20:...| 07/27/2017 06:31:...|              3|         2.16|         1|                 N|         239|         236|           2|       10.0|  1.0|    0.5|       0.0|         0.0|                  0.3|        11.8|
|       2|07/27/2017 06:21:...| 07/27/2017 06:47:...|              1|         5.04|         1|                 N|         229|          42|           1|       20.5|  1.0|    0.5|      4.46|         0.0|                  0.3|       26.76|
|       2|07/27/2017 06:06:...| 07/27/2017 06:11:...|              1|         0.91|         1|                 N|         236|         236|           1|        5.5|  1.0|    0.5|      1.46|         0.0|                  0.3|        8.76|
|       1|07/27/2017 06:35:...| 07/27/2017 07:11:...|              1|          8.8|         1|                 N|          13|         152|           1|       30.5|  1.0|    0.5|      6.45|         0.0|                  0.3|       38.75|
|       2|07/27/2017 06:53:...| 07/27/2017 06:59:...|              1|         0.87|         1|                 N|         237|         163|           1|        6.0|  1.0|    0.5|      1.95|         0.0|                  0.3|        9.75|
|       2|07/27/2017 06:09:...| 07/27/2017 06:33:...|              1|          3.9|         1|                 N|         162|         148|           1|       18.0|  1.0|    0.5|      3.96|         0.0|                  0.3|       23.76|
|       2|07/27/2017 06:54:...| 07/27/2017 07:01:...|              2|          1.2|         1|                 N|         137|          79|           1|        6.5|  1.0|    0.5|      1.66|         0.0|                  0.3|        9.96|
|       1|07/27/2017 06:12:...| 07/27/2017 06:22:...|              1|          1.1|         1|                 N|         158|         234|           1|        8.5|  1.0|    0.5|      2.05|         0.0|                  0.3|       12.35|
|       2|07/27/2017 06:01:...| 07/27/2017 06:33:...|              3|          2.4|         1|                 N|         233|         246|           2|       19.0|  1.0|    0.5|       0.0|         0.0|                  0.3|        20.8|
|       2|07/27/2017 06:03:...| 07/27/2017 06:16:...|              1|         1.58|         1|                 N|         234|           4|           2|       10.0|  1.0|    0.5|       0.0|         0.0|                  0.3|        11.8|
|       2|07/27/2017 06:39:...| 07/27/2017 07:03:...|              1|         4.41|         1|                 N|         236|         224|           1|       17.0|  1.0|    0.5|      3.76|         0.0|                  0.3|       22.56|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+
only showing top 20 rows

In [10]:
df_sample.count()

5671983

In [1]:
#converting to pandas dataframe
pandas_df = df_sample.toPandas()

In [18]:
pandas_df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
0,2,07/27/2017 06:31:15 PM,07/27/2017 06:48:44 PM,2,2.25,1,N,230,246,2,13.0,1.0,0.5,0.0,0.0,0.3,14.8
1,1,07/27/2017 06:53:08 PM,07/27/2017 07:09:18 PM,1,1.80,1,N,246,230,1,11.5,1.0,0.5,2.0,0.0,0.3,15.3
2,1,07/27/2017 06:34:32 PM,07/27/2017 06:39:44 PM,1,0.60,1,N,141,262,1,5.0,1.0,0.5,1.0,0.0,0.3,7.8
3,2,07/27/2017 06:55:28 PM,07/27/2017 07:06:33 PM,2,1.01,1,N,43,141,2,8.0,1.0,0.5,0.0,0.0,0.3,9.8
4,2,07/27/2017 06:20:18 PM,07/27/2017 06:32:35 PM,1,1.18,1,N,48,164,2,9.0,1.0,0.5,0.0,0.0,0.3,10.8

In [19]:
pandas_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1134081 entries, 0 to 1134080
Data columns (total 17 columns):
 #   Column                 Non-Null Count    Dtype
---  ------                 --------------    -----
 0   VendorID               1134081 non-null  int32
 1   tpep_pickup_datetime   1134081 non-null  object
 2   tpep_dropoff_datetime  1134081 non-null  object
 3   passenger_count        1134081 non-null  int32
 4   trip_distance          1134081 non-null  float64
 5   RatecodeID             1134081 non-null  int32
 6   store_and_fwd_flag     1134081 non-null  object
 7   PULocationID           1134081 non-null  int32
 8   DOLocationID           1134081 non-null  int32
 9   payment_type           1134081 non-null  int32
 10  fare_amount            1134081 non-null  float64
 11  extra                  1134081 non-null  float64
 12  mta_tax                1134081 non-null  float64
 13  tip_amount             1134081 non-null  float64
 14  tolls_amount           1134081 non-null  float64
 15  improvement_surcharge  1134081 non-null  float64
 16  total_amount           1134081 non-null  float64
dtypes: float64(8), int32(6), object(3)
memory usage: 121.1+ MB

In [21]:
#saving the dataframe to a csv file
pandas_df.to_csv("..\Data\Yellow_Taxi_Trip_Sample.csv",index=False)